@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Glegoo', serif;
}

body{
    /* background-color: rgba(255, 180, 180, 0.76); */
    background-color:  #fadfbf;
    background: -webkit-linear-gradient(to right,   #fdc2c2, #f7e6d2);
    background: linear-gradient(to right,#fcd3d3, #fceddc);
}

.title{
    /* font-family: 'Coming Soon', cursive; */
    font-size: 40px;
    letter-spacing: 3px;
    color: rgb(87, 87, 87);
}

#tbl{
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
    border-color: rgb(177, 177, 177);
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(59, 59, 59);
    letter-spacing: 1px;
}

.middle>td{
    height: 69vh;
}

.top>td{
    height: 13vh;
}

.bottom>td{
    height: 13vh;
}

.middleBox>div>div, .middleBox>div>div>strong, .innerBox>div{
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(87, 87, 87);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#pic{
    display: none;
}

.middleBox{
    width: 56vw;
}

.mainBox{
    padding: 20px;
}

.subBox{
    width: 22vw;
    color: rgb(141, 141, 141);
}

.goMain:hover{
    cursor: pointer;
    color: rgb(58, 58, 58);
    text-decoration: underline;
}

/* .myPic{
    background-image: url(../img/이력서사진수정jpg.jpg);
    background-size: 100% 100%;
    opacity: 0%;
} */    

.myPic:hover>img#pic{
    display: block;
}

/* .myPic:hover{
    opacity: 100%;
} */

#pic{
    margin-left: auto;
    margin-right: auto;
}

#subTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.direction{
    margin: 30px;
    opacity: 30%;
}

.innerBox{
    border: 1px solid darkgray;
    width: 45vw;
    height: 43vh;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.imgs{
    margin-top: 30px;
}

.imgs>img{
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgray;
}

.second{
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toggle{
    width: 9vw;
    height: 8vh;
    margin: 20px;
    /* background-color: rgba(255, 255, 255, 0.575); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgray;
    font-size: 25px;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    transition: all 1s;
    font-size: 20px;
}

.blockMe{
    letter-spacing: 4px;
}

.toggle:hover{
    cursor: url(../img/pngegg.cur), pointer;
}

.hideMe{
    display: none;
    font-family: 'Nanum Gothic', sans-serif;
}

.toggle:hover>div.blockMe{
    display: none;
}

.toggle:hover>div.hideMe{
    display: block;
}

.smallFont{
    font-size: 17px;
}

#contact{
    display: none;
}
