@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: rgba(255, 239, 245, 0.103);
}

.title{
    font-size: 75px;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* font-weight: bold; */
    font-family: 'Glegoo', serif;
}

.list{
    list-style: none;
    /* border-top: 1px solid rgb(17, 0, 255);
    border-bottom: 1px solid rgb(17, 0, 255); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 19px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list>li{
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
    /* border-right: 1px solid black;  */
}

.sidebar{
    position: fixed;
    float: right;
    top: 430px;
    right: 30px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(112, 150, 255, 0.178);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
}

.goMain{
    background-color: white;
    color: rgb(38, 0, 255);
}

.selected{
    color: rgb(38, 0, 255);
}

.list>li:hover{
    cursor: pointer;
}

.mainBox{
    margin: 100px 280px;
}

.innerBox{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.innerText{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    justify-content: center;
}

.subTitle{
    box-sizing: border-box;
    color: white;
    font-size: 80px;
    letter-spacing: 10px;
    background: url(../img/pinkpattern.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 15s linear infinite;
    font-weight: bold;
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
} 

@keyframes anim{
    from{
        background-position: 0% 50%;
    }
    to{
        background-position: 100% 50% 0%;
    }
}

.subText{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}

.imgBox{
    width: 550px;
    padding: 13px;
    border: 1px solid black;
}

img{
    width: 550px;
    height: 370px;
    border: 1px solid black;
    opacity: 85%;
}

.pen{
    display: inline-table;
    position: relative;
    overflow: hidden;
}

.pen::before{
    content: '';
    width: 100%;
    height: 100%;
    /* background: rgba(255,200,0,.5); */
    background: rgba(255, 200, 0, 0.329);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .35s;
}

.innerBox:hover .pen::before{
    left: 0;
}