@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: rgba(255, 239, 245, 0.103);
}

.title{
    font-size: 75px;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* font-weight: bold; */
    font-family: 'Glegoo', serif;
}

.list{
    list-style: none;
    /* border-top: 1px solid rgb(17, 0, 255);
    border-bottom: 1px solid rgb(17, 0, 255); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 19px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list>li{
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
    /* border-right: 1px solid black;  */
}

.sidebar{
    position: fixed;
    float: right;
    top: 430px;
    right: 30px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(34, 139, 34, 0.089);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
}

.goMain{
    background-color: white;
    color: forestgreen;
}


.selected{
    color: forestgreen;
}

.list>li:hover{
    cursor: pointer;
}

.main{
    margin: 100px 230px;
}

.subTitle{
    font-size: 40px;
    text-align: left;
    font-family: 'Glegoo', serif;
    letter-spacing: 5px;
}

.line{
    margin-left: 5px;
    width: 270px;
    height: 3px;
    background-color: forestgreen;
}

.memo{
    margin-top: 5px;
    font-size: 13px;
    color: red;
}

.textBox{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.textBox>img{
    position: relative;
    padding: 5px;
    border: 1px solid black;
    margin-left: 90px;
    opacity: 80%;
    transition: all 0.5s;
}

.textBox>img:hover{
    opacity: 60%;
}

.text{
    margin-left: 120px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

#java:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(56, 56, 56);
}

#green{
    cursor: pointer;
    margin-bottom: 30px;
}

.listBox{
    display: flex;
    flex-direction: row;
    margin-left: 125px;
}

.eduList{
    /* margin-left: 120px; */
    list-style: circle;
    width: 300px;
   
}

.eduList>li{
    line-height: 34px;
    width: 300px;
    margin-right: 0px;
}

fieldset{
    margin: 300px auto;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 35px;
    width: 1200px;
    padding: 30px;
    text-align: center;
}

legend{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 15px;
    border: 1px solid rgb(155, 155, 155);
    color: forestgreen;
}

.videoList{
    margin: 150px auto;
    display: flex;
    flex-direction: column;
}

.sList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.videoBox{
    padding: 20px;
    width: 640px;
    height: 460px;
    border: 1px solid black;
    background-color: rgba(201, 201, 201, 0.103);
}

iframe{
    border: 1px solid black;
}

.videoTitle{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;
    letter-spacing: 4px;
    color: forestgreen;
    font-family: 'Gamja Flower', cursive;
    transition: all 0.5s;
}

.videoTitle:hover{
    cursor: pointer;
    color: black;
}

.videoText{
    text-align: right;
    margin-right: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Gamja Flower', cursive;
}

.minusleft{
    margin-left: -70px;
}

.plusleft{
    margin-right: -70px;
}