@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{  
    margin: 0px;
    padding: 0px;
    font-family: 'Glegoo', serif;
}

body{
    background-color: #f7f4f0;
}

.top{
    padding-top: 50px;
    padding-left: 80px;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 10px;
    color: rgb(53, 54, 30);
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}

.mainBox{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.innerBox{
    width: 70%;
    height: 250px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid  rgb(53, 54, 30);
    transition: all 0.5s;
}

.innerText{
    font-size: 50px;
    letter-spacing: 10px;
    color: rgb(53, 54, 30);
    text-transform: uppercase;
    font-family: 'Glegoo','Nanum Gothic', sans-serif;
}

.first{
    background-image: url(../img/mainInterior23.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: table;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 70px;
}

/* .second{
    background-image: url(../img/mainInterior18.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: table;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 70px;
} */


.innerBox:hover{
    cursor: pointer;
    background-image: none;
    background-color: rgba(53, 54, 30, 0.719);
    /* transition: all 2s; */
    border: 1px solid white;
}

.innerBox:hover>div.innerText{
    color : rgb(219, 219, 219);
}

span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background: #55b9f3;
    transform: translate(-50%, -50%);
    animation: blow 4s linear infinite;
  }
  
  
  @keyframes blow {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: hue-rotate(0deg);
    }
    100% {
      transform: translate(-50%, -1000%);
      opacity: 0;
      filter: hue-rotate(720deg);
    }
  }
