@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: rgba(255, 239, 245, 0.103);
}

.title{
    font-size: 75px;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* font-weight: bold; */
    font-family: 'Glegoo', serif;
}

.list{
    list-style: none;
    /* border-top: 1px solid rgb(17, 0, 255);
    border-bottom: 1px solid rgb(17, 0, 255); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 19px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list>li{
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
    /* border-right: 1px solid black;  */
}

.sidebar{
    position: fixed;
    float: right;
    top: 430px;
    right: 30px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(214, 112, 255, 0.13);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
}

.goMain{
    background-color: white;
    color: rgb(187, 40, 255);
}

.selected{
    color: rgb(187, 40, 255);
}

.list>li:hover{
    cursor: pointer;
}

.mainBox{
    margin: 100px 300px;
}

.tech{
    min-height: 500px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.techInner{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.innerTitle{
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Glegoo', serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    /* color: rgb(158, 91, 158); */
}

.techList{
    display: flex;
    flex-direction: row;
}

.techList>ul{
    list-style: none;
}

.techList>ul>li{
    font-size: 20px;
    line-height: 80px;
    letter-spacing: 2px;
}

.square{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-content: center;
    align-items: center;
}

.square>div{
    margin-right: 20px;
}

.empty{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.full{
    width: 25px;
    height: 25px;
    background-color: rgba(128, 0, 128, 0.473);
    border: 1px solid black;
}

.my{
    display: flex;
    flex-direction: row;
}

#myPic{
    margin-left: 50px;
    border-bottom: 1px dotted black;
}

#myText{
    width: 60%;
    height: 160px;
    padding: 20px 50px;
    margin-left: 100px;
    border: 1px solid rgb(151, 151, 151);
    letter-spacing: 2px;
    color: rgb(39, 39, 39);
    font-size: 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}